html,
body {
	height: 100%;
}

body {
	background: #FFFFE1;
	font-family: Arial, sans-serif;
	text-align: center;
}

p,
blockquote {
	margin-bottom: 0.75em;
	line-height: 1.42em;
}

p {
	text-indent: 1.8em;
}